<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nutrition Store</title>
    <meta charset="utf-8"/>
</head>
<body>
<ul>
    <li><a th:href="@{/information}">Information</a></li>
    <li><a th:href="@{/nutritionStore(name=${fox.getFoxName()})}">Nutrition Store</a></li>
    <li><a th:href="@{/tricks(name=${fox.getFoxName()})}">Trick Center</a></li>
</ul>

<form th:action="@{/nutritionStore}" th:method="post">
    <label>Food<label>
        <select name="food" th:type="text">
            <option th:each="food : ${foodList}"
                    th:text="${food}"></option>
        </select>
        <label>Drink</label>
        <select name="drink" th:type="text">
            <option th:each="drink : ${drinkList}"
                    th:text="${drink}"></option>
        </select>
        <input type="submit">Change</input>
        <input type="hidden" name="name" th:value="${name}">
</form>

</body>
</html>