<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Page</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<h1>Welcome to Programmer Fox Club</h1>
<p>Please provide a name, so you can associate it to your pet!</p>
<div class="form">
    <form  th:method="post" th:object="${fox}">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" th:field="*{name}" autofocus/>
        <label for="color">Color</label>
        <select id="color" name="color" th:field="*{color}" class="select-menu">
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="red">Red</option>
        </select>
        <button type="submit">GO</button>
    </form>
</div>
</body>
</html>