<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Page</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<a href="http://localhost:8080/index"> Information</a><br>
<a href="http://localhost:8080/useful/colored"> Nutrition Store</a><br>
<a href="http://localhost:8080/useful/colored"> Trick Center</a><br>
<a href="http://localhost:8080/useful/colored"> Action History</a><br>
<div class="select-menu">
<select th:type=""
        <select th:type=""


</div>
</body>
</html>


