<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<table>
    <tr>
        <th>Index</th>
        <th>Owner</th>
        <th>Balance</th>
        <th>Animal Type</th>
        <th>King</th>
        <th>Good/Bad</th>
    <tr th:each="bankAccount : ${bankAccount}" th:style="${bankAccount.isKing()}? ${shiny}">
        <td th:text="${bankAccountStat.index}"></td>
        <td th:text="*{bankAccount.name}"></td>
        <td th:text="|*{bankAccount.balance} ${bankAccount.currency}|"></td>
        <td th:text="*{bankAccount.animalType}"></td>
        <td th:text="*{bankAccount.king}"></td>
        <td th:text="${bankAccount.bad ? 'Good Guy' : 'Bad Guy'}"></td>
        <!-- <div th:switch="${bankAccount.bad}">
        <td th:case="false">Good</td>
        <td th:case="true">Bad</td>
        </div> -->
    </tr>
</table>
</body>
</html>