<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Useful</title>
</head>
<body>
<h1>Page structure:</h1>
<a href="http://localhost:8080/useful/colored"> Link to colored page</a><br>
<a href="http://localhost:8080/useful/email?email=is@this.valid"> Link to check if email is valid: is@this.valid</a><br>
<a href="http://localhost:8080/useful/email?email=thisisnotemailaddress"> Link to check if email is valid: thisisnotemailaddress</a><br>
<a href="http://localhost:8080/useful/code?code=example&number=1"> Link to code: example with parameter 1</a><br>
<a href="http://localhost:8080/useful/code?code=fybnqmf&number=-1"> Link to decode: fybnqmf with parameter -1</a><br>
</body>
</html>