<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reddit project</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Todos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="/todo">Home<span class="sr-only">(current)</span></a></li>
            <li class="nav-item active"><a class="nav-link" href="/addtodo">Add todo</a></li>
            <li class="nav-item active"><a class="nav-link" href="/assignees">The Dear Assignees</a></li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/todo" method="post">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<h4>Trending posts:</h4>
<table>
    <tr th:each="post: ${posts}">
        <td th:text="${post.getPopularity()}"></td>
        <td><a th:href="@{|${todo.getId()}/edit|}">+</a> </td>
        <td><a th:href="@{|${todo.getId()}/edit|}">-</a> </td>
        <td th:text="${post.getTitle()}"></td>

        <!--<td><a th:href="@{|todo/${todo.getId()}/delete|}">delete</a></td>
        <td><a th:href="@{|${todo.getId()}/edit|}">edit</a> </td> !-->
    </tr>
</table>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>